h1{
	color:purple;
  text-align:centre;
  text-decoration:underline;
  font-size:25px;
  font-family:'Georgia','Times New Roman';
  font-style:italic;
}
.mydesign{
	
	color:orange;
  text-align:right;
  text-decoration:line-through;
  font-size:30px;
  font-family:'Gill sans';
  font-style:italic; 
}

#yourdesign{
	
	color:red;
  text-align:right;
  text-decoration:line-through;
  font-size:30px;
  font-family:'Gill sans';
  font-style:italic;
}
